<form action="/projectOne/form2" method="post" enctype="multipart/form-data">

    <h1>{{title}}</h1>
    <h4 class="pt-3 pb-3">NOTE: This will only display information for cars manufactured in 2020</h4>
    <div class="row">
        <div class="col-md-6">
            <h2>Vehicle One</h2>
            <!--Vehicle One-->
            <!--Make -->
            <div class="mb-2">
                <label for="make1" class="form-label">Make</label>
                <input type="text" class="form-control {{#if err.make1}}is-invalid{{/if}}"
                       placeholder="Enter Vehicle Make"
                       name="make1" id="make1" value="{{submittedMake1}}" required>
                <div class="invalid-feedback">{{err.make1}}</div>
            </div>

            <!--Model-->
            <div class="mb-2">
                <label for="model1" class="form-label">Model</label>
                <input type="text" class="form-control {{#if err.model1}}is-invalid{{/if}}"
                       placeholder="Enter Vehicle Model"
                       name="model1" id="model1" value="{{submittedModel1}}" required>
                <div class="invalid-feedback">{{err.model1}}</div>

            </div>

            <!--Year-->
            <div class="mb-2">
                <label for="year1" class="form-label">Year</label>
                <input type="number" class="form-control {{#if err.year1}}is-invalid{{/if}}"
                       placeholder="Enter Vehicle Year"
                       name="year1" id="year1" value="{{submittedYear1}}" required>
                <div class="invalid-feedback">{{err.year1}}</div>
            </div>

            <h2>Vehicle Two</h2>
            <!--Vehicle Two-->
            <!--Make-->
            <div class="mb-2">
                <label for="make2" class="form-label">Make</label>
                <input type="text" class="form-control {{#if err.make2}}is-invalid{{/if}}"
                       placeholder="Enter Vehicle Make"
                       name="make2" id="make2" value="{{submittedMake2}}" required>
                <div class="invalid-feedback">{{err.make2}}</div>
            </div>

            <!--Model-->
            <div class="mb-2">
                <label for="model2" class="form-label">Model</label>
                <input type="text" class="form-control {{#if err.model2}}is-invalid{{/if}}"
                       placeholder="Enter Vehicle Model"
                       name="model2" id="model2" value="{{submittedModel2}}" required>
                <div class="invalid-feedback">{{err.model2}}</div>

            </div>

            <!--Year-->
            <div class="mb-2">
                <label for="year2" class="form-label">Year</label>
                <input type="number" class="form-control {{#if err.year2}}is-invalid{{/if}}"
                       placeholder="Enter Vehicle Year"
                       name="year2" id="year2" value="{{submittedYear2}}" required>
                <div class="invalid-feedback">{{err.year2}}</div>
            </div>


            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-danger">Reset</button>
        </div>
        <!-- Tried to get api properties to display here but had no luck -->
        <div class="col-md-6">
        {{#if isSubmitted}}
            <div class="card p-2 m-3">
                {{#each car}}
                    <p>{{engineOne}}</p>
                    <p>{{horsepowerOne}}</p>
                    <p>{{torqueOne}}</p>
                    <p>{{engineTwo}}</p>
                    <p>{{horsepowerTwo}}</p>
                    <p>{{torqueTwo}}</p>
                {{/each}}
            </div>
        {{/if}}
    </div>
    </div>
</form>






